body {
  background-color: ivory;
}
.content {
  max-width: 900px;
  margin: auto;
  margin-bottom: 64px;
  padding: 10px;
}

.area {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
}

/** orverride kube.css */
.alert {
  display: none;
}

row {
  margin-bottom: 10px;
}

fieldset {
    padding: 5px 10px 5px 20px;
    margin-bottom: 10px;
}

legend {
  text-transform: none;
}

pre {
  line-height: 20px;
  color: rgba(0,0,0,0.9);
  overflow: auto;
  background: rgba(0,0,0,0.03);
  padding: 20px;
  word-wrap: normal;
}